@model SiteMapPathHelperModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var node in Model)
        {
            if (node.IsRootNode)
            {
                continue;
            }

            <li class="breadcrumb-item @(node.IsCurrentNode ? "actvie" : string.Empty)">
                @if (node.IsClickable)
                {
                    if (string.IsNullOrEmpty(node.Description))
                    {
                        <a href="@node.Url">@node.Title</a>
                    }
                    else
                    {
                        <a href="@node.Url" title="@node.Description">@node.Title</a>
                    }
                }
                else
                {
                    <a href="#">@node.Title</a>
                }
            </li>
        }
    </ol>
</nav>