@model RequestBase

@{
    ViewBag.Title = "MakeExceptionInAjax";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
        });

        // 註冊全域的 ajax 錯誤處理方式
        $(document).ajaxError(function (e, jqxhr, settings, exception) {
            e.stopPropagation();
            if (jqxhr != null)
                alert('global:' + jqxhr.responseText);
        });

        function makeExceptionInAjax() {
            $.post(
                '@Url.Action("MakeExceptionInAjax", "Test")',
                {
                    MainAccountID: 'PA00004',
                    TransactionNumber: '123'
                },
                function (response) {
                    if (response.Status) {
                        alert('查詢成功');
                    }
                    else {
                        alert('查詢失敗, ' + response.ErrorMessage);
                    }
                }).fail(function (response) {
                    alert('response:' + response);
                    alert('response.status:' + response.status);
                    alert('response.responseText:' + response.responseText);
                });
        }
    </script>
}

@using (Ajax.BeginForm("MakeExceptionInAjaxBeginForm", "Test", new AjaxOptions()
{
    UpdateTargetId = "queryResult",
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace
}))
{
    @Html.LabelFor(m => m.MainAccountID)
    @Html.TextBoxFor(m => m.MainAccountID)
    @Html.ValidationMessageFor(m => m.MainAccountID)
    <br />

    @Html.LabelFor(m => m.TransactionNumber)
    @Html.TextBoxFor(m => m.TransactionNumber)
    @Html.ValidationMessageFor(m => m.TransactionNumber)
    <br />

    <input type="submit" value="送出" />
}

<input type="button" value="AjaxPost" onclick="makeExceptionInAjax()" />

<div id="queryResult"></div>