@model RequestBase

@{
    ViewBag.Title = "SubmitByAjax";
}

<h2>SubmitByAjax</h2>

@section scripts {
    <script type="text/javascript">
        $(function () {
        });

        function makeExceptionInAjax() {
            $.post(
                '@Url.Action("SubmitByAjax", "ServerValidation")',
                {
                    MainAccountID: 'PA00004',
                    TransactionNumber: '123'
                },
                function (response) {
                    if (response.Status) {
                        alert('查詢成功');
                    }
                    else {
                        var errorStr = '查詢失敗';
                        $.each(response.Data, function (index, value) {
                            errorStr += '\n' + value;
                        });
                        alert(errorStr);
                    }
                }).fail(function (response) {
                    alert('response:' + response);
                    alert('response.status:' + response.status);
                    alert('response.responseText:' + response.responseText);
                });
        }
    </script>
}

@{ Html.EnableClientValidation(false); }
@using (Ajax.BeginForm("SubmitByAjaxBeginForm", "ServerValidation", new AjaxOptions()
{
    UpdateTargetId = "queryResult",
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace
}))
{
    @Html.LabelFor(m => m.MainAccountID)
    @Html.TextBoxFor(m => m.MainAccountID)
    @Html.ValidationMessageFor(m => m.MainAccountID)
    <br />

    @Html.LabelFor(m => m.TransactionNumber)
    @Html.TextBoxFor(m => m.TransactionNumber)
    @Html.ValidationMessageFor(m => m.TransactionNumber)
    <br />

    <input type="submit" value="送出" />
}

<input type="button" value="AjaxPost" onclick="makeExceptionInAjax()" />

<div id="queryResult"></div>